<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/ArgProg.png" id="logoAP" alt="logo-ArgentinaPrograma">
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/Linkedin.png" id="logoLinkedin" alt="logo-Linkedin"></a>
            <a href=""><img src="../../../assets/Github.png" id="logoGithub" alt="logo-Github"></a>
            <a href=""><img src="../../../assets/Facebook.png" id="logoFacebook" alt="logo-Facebook"></a>
            <a href=""><img src="../../../assets/Instagram.png" id="logoInstagram" alt="logo-Instagram"></a>
            <button type="button" class="btn btn-outline-light">INGRESAR</button> 
        </div>
    </div>
</div>
